/* s main style*/
    body{
      
    }
    .conteaner{
        margin:auto;
        width:1170px;
    }
    .clear-fix{
        clear:both;
    }
/* e main style*/
/* s header */
    #header .navibar{
        background-color:rgb(36,47,46);
        overflow:hidden;
    }
    .navibar h2 {
        float:left;
    }
    .navibar h2 span{
        color:rgb(51,130,104);
    }
    .navibar ul{
        list-style:none;
        padding:0;
        float:right;
    }
    .navibar ul li{
        color:white;
        float:left;
        padding:10px;
    }
     .navibar ul li a{
        color:#fff;
        text-decoration:none;
    } 
      .navibar ul li a:hover{
        color:rgb(51,130,104);
    } 
    .slider{
        height:400px;
        background-image:url('../images/slider_photo2.jpg');
        background-size:cover;
        background-position:center center;
    }
    .slider .intro{
        text-align:center;
        color:#FFF;
        padding-top:160px;
       
    }
    .slider .intro h2{
        font-size:50px;
        width:600px;
        border-top:4px solid  white;
        border-bottom:4px solid  white;
        margin:0 auto;
        padding:5px 0;
    }
    .slider .intro button{
       background:none;
       color:#fff;
       margin-top:30px;
       font-size:20px;
       border:3px solid #fff;
       padding:10px;
       font-weight:bold;
    }
     /* e header */
/*s feature*/

    .features{
        overflow:hidden;
        padding-top:40px;
        padding-bottom:50px;
    }
    .features .feat{
        float:left;
        width:32.333%;
        margin-top:40px;
        padding:5px;
    } .features .feat h2{
        color:#444;
    } 
      .features .feat p{
          line-height:1.7;
          color:#888;
          text-align:justify;
      }
/*e feature*/
/*s About as*/
.aboutme{
   overflow:hidden;
   background-color:rgb(242,241,244);
}
.aboutme .image{
    float:left;
    width:40%;
    height:555px;
    background-image:url("../images/slider_photo4.jpg");
    background-size:cover;
}
.aboutme .about{
    float:left;
    width:60%;
}
.aboutme .about h2{
    margin:20px 0 20px 40px;
    color:#555;
}
.aboutme .about > p{
    margin:0 0 10px 40px;
}
.aboutme .about p:last-of-type{
    margin-top:30px;
}
.aboutme .about p{
    line-height:1.6;
    color:#666;
}
.aboutme .about .hob{
    overflow:hidden;
    margin:10px 0 0 40px;
}
.aboutme .about .hob .content  h3{
   color:#555;
} 
.aboutme .about .hob .content{
    float:left;
    width:45%;
    margin:0 2px 0 0;
    min-height:100px;
    overflow:hidden;
}
.aboutme .about .hob .content .icon{
    float:left;
    width:10%;
    margin-top:20px;
    color:rgb(53,197,121)
}
.aboutme .about .hob .content .test{
    float:left;
    width:90%;
}
/*end about as */
/*Start our skills*/
.ourskills{
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden;
}
.ourskills .skills, .ourskills .prog{
    float:left;
    width:50%;
}
.ourskills .skills h2{
    margin:20px 0 20px 40px;
    color:#555;
}
.ourskills .skills > p{
    margin:0 0 10px 40px;
    color:#666;

}
.ourskills .skills p:last-of-type{
    margin-top:30px;
}
.ourskills .skills button{
    margin:0 0 0 40px;
    background:none;
    border:3px solid rgb(39,205,108);
    color:rgb(39,205,108);
    padding:10px 20px;
}
.ourskills .prog .tech{margin-left:50px;}
.ourskills .prog .tech h3{
    color:#555;
}
.ourskills .prog .tech div{
    background-color:#b6abab;
    height:20px;
}
.ourskills .prog .tech div span{
    background-color:rgb(39,205,108);
    height:20px;
    display:block;
    line-height:20px;
    text-align:right;
    color:#fff;
    font-weight:bold;
}
/*start resume*/
    .resume{
        background-color:rgb(242,241,244);
        padding-top:30px;
        padding-bottom:30px;
        text-align:center; 
    }
     .resume h2{
        color:#555;
    }
    .resume p{
        color:#666;
    }
    .resume button{
         background:none;
         border:3px solid rgb(39,205,108);
         color:rgb(39,205,108);
         padding:10px 20px;
    }
/*end resume*/
/*Start our skills*/
.edu{
    padding-top:30px;
    padding-bottom:30px;
    overflow:hidden;
    
}
.edu .main{
    float:left;
    width:50%;
    margin-right:5%;
    height:400px;
}
edu .some-exp {
     
     width:45%;
    
}
.edu .main h2{
    margin:20px 0 20px 40px;
    color:#555;
}
.edu .main > p{
    margin:0 0 10px 40px;
    color:#666;

}
.edu .main p:last-of-type{
    margin-top:30px;
}
.edu .some-exp h3{
    color:#555;
}
.edu .some-exp span{
    display:block;
    margin-bottom:10px;
}
.edu .some-exp  span:first-of-type{color:#999}
.edu .some-exp  span:last-of-type{
    color:#fff;
    background-color:rgb(39,205,108); 
    display:inline-block;
    padding:4px 10px;

}
.edu .some-exp hr{
    margin:2px 0;background-color:#999;
    height:1px;
    border:0;
}
/*start test*/
    .test{
        background-color:rgb(242,241,244);
        padding-top:50px;
        padding-bottom:50px;
        text-align:center; 
    }
    .test q{
        line-height:1.7;
        color:#888;
        font-size:18px;
        font-style:italic;
        font-weight:bold;
    }
    .test h3{
        color:#777;
        margin-bottom:30px;
    }
    .test ul{ 
        list-style:none;
        padding-left:0;
        text-align:center;
        

    }
    .test ul li{
        width:15px;
        height:15px;
        border:2px solid rgb(39,205,108);
        display:inline-block;
        cursor:pointer;
    }
     .test ul li.active,.test ul li:hover{
         background-color:rgb(39,205,108);
     }
/*end test*/
/*start portfolio*/
    .portfolio{
        padding-top:30px;
        padding-bottom:30px;
        text-align:center;
    }
    .portfolio .ourwork{
        overflow:hidden;
    }
    .portfolio .ourwork > div{
        float:left;
        width:31.33333%;
        height:200px;
        margin:5px;;
    }
    .portfolio .ourwork > div img{
      width:92%;
      height:92%;
      padding:3px;
      background-color:#fff;
      border:1px solid #ccc;
      box-shadow:10px 10px 5px #ccc;
    }
    .portfolio h2{color:#555;}
    .portfolio p{
        color:#888; 
    }
/*end portfolio*/
/*start contact*/
.contact{
    padding-top:50px;
    padding-bottom:70px;
    background-color:rgb(35,47,45);
    overflow:hidden;
}
.contact .infor{
    width:50%;
    float:left;
    margin-right:5px;
}
.contact .form {
    width:45%;
    float:left;
}
.contact .infor h2{
    color:#fff;
    margin-left:40px;
       
}
.contact .infor p{
    color:rgb(83,93,92);
    margin-left:40px;
    line-height:1.7;
}
.contact p strong{
    color:#fff;

}
.contact .form label{
    display:block;
    color:#fff;
    margin-bottom:10px;
    margin-top:10px;
}
.contact .form input[type="text"],.contact .form input[type="email"]{
    background-color:rgb(75,84,84);
    color:#fff;
    padding:10px;
    border:0;
    width:80%;
    margin-bottom:10px;
}
.contact .form textarea{
    background-color:rgb(75,84,84);
    color:#fff;
    padding:10px;
    border:0;
    width:80%;
    margin-bottom:10px;
    height:300px;
}
.sub {
    background-color:#191E22;
    color:#fff;
    padding:10px 20px;
    border:0;
    margin-top:10px;
}
/*end contact*/
/*start footer*/
    .footer{
        text-align:center;
        color:rgb(83,93,92);
        background-color:rgb(25,30,30);
    }
    .footer ul{
        list-style:none;
        padding-left:0;
        margin:10px 0 0;    }
    .footer ul li{
       display:inline-block;
       margin-bottom:30px;
       margin-top:10px;
    }
    .footer ul li:hover{
        color:#fff;
        font-size:20px;
    }
/*end footer*/